.input {
    position: relative;
    padding: 10px 0 0;
    margin-top: 10px;
    width: 100%;
  }
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #5d801b;
    outline: 0;
    color: #331e01;
    padding: 5px 0;
    background: transparent;
    transition: border-color 0.2s;
    text-align: right;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 12px;
    cursor: text;
    top: 20px;
  }
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 11px;
    color: #331e01;
  }
  .form__error {
      color: #ff2f2f;
      font-size: 10px;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 11px;
    color: #331e01;
  }
  
  .field_gray .form__field{
    background-color: #efefef;
    color: #999;
    border: none;
    border-radius: 5px;
    padding-left: 1rem;
  }
  .field_gray .form__field::placeholder {
    color: #999;
  }
  .field_center .form__field:placeholder-shown::placeholder {
    text-align: center;
  }
  .input .fas {
    position: absolute;
    top: 50%;
    left: 10px;
    transition: 0.2s;
  }
  .field_gray .fas {
    color: #999;
  }
  .field_center .form__field:placeholder-shown ~ .fas {
    left: 40%;
  }
  .input > .form__field {
    padding-left: 2rem;
  }
  .field_center .form__field:focus::placeholder {
    text-align: left;
  }
  .field_center .form__field:focus ~ .fas {
    left: 10px;
  }