.page-main .container {
    width: 70%;
}
.page-main .container .left  {
    width: 70%;
}
.page-main .container .left {
    color: #000;
}
.page-main .container .right {
    min-height: 60%;
    min-width: 250px;
    border-bottom-right-radius: 5px;
    text-align: center;
    overflow-y: scroll;
}