
.signup_card_inner {
    height: 75%;
    width: 70%;
}
.signup_left {
    width: 50%;
    height:100%;
}

.signup_right {
    height:100%;
}
.signup_form {
    flex: 1;
}

.signup_header {
    font-size: 28px;
}