

.gameshop_header {
    position: absolute;
    top: 60px;
}

.shop_wrapper {
    padding-top: 50px;
    padding-bottom: 25px;
    height: 300px;
    width: 100%;
}

.shop {
    height: 100%;
    width: 60%;
    overflow: scroll;
}

.shop_header {
    font-size: 20px;
    margin-bottom: 15px;
}

.gameshop_buttons {
    position: absolute;
    left: 95px;
    top: 250px;
    width: 70px;
    height: 200px;
}

.gameshop_button {
    border: none;
    font-size: 14px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: inset 1px 5px 15px #331e01;
}

