.inventory {
    margin: auto;
    width: 900px;
    height: 580px;
    min-width: 800px;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #463a2c;
    background-image: url('../public/images/wooden-background.jpeg');
}

.inventory_header {
    color:  #463a2c;
}

.inventory_return {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 0;
    width: 50px;
    height: 50px;
    background-image: url('../public/images/icons-sprite.jpeg');
    background-position: 58.5% 51.5%;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 1px #463a2c;
}

.card {
    background-color: #f3e6cb;
    background-image: url('../public/images/papirus.jpeg');
    background-position: center;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}

.character {
    min-width: 250px;
}

.backpack {
    min-width: 200px;
}

.clothes {
    min-width: 250px;
}

.clothes_button {
    width: 75px;
    height: 75px;
    background-color: #fff;
    border: 2px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.character_icon {
    width: 100%;
    min-height: 150px;
}

.character_name {
    font-size: 18px;
    margin-bottom: 16px
}

.character_stats_item {
    width: 50px;
}

.backpack_header {
    font-size: 20px;
    margin-bottom: 15px;
}

.clothes_header {
    font-size: 20px;
    margin-bottom: 15px;
}

.character_name {
    font-size: 20px;
    margin-bottom: 15px;
}

.baffs {
    border-top: 1px solid #463a2c;
    border-bottom: 1px solid #463a2c;
}