  input[type=file] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .button {
      width: 100%;
      padding: 12px 0;
      text-align: center;
      font-size: 17px;
      border-radius: 8px;
      color: #fff;
  }
  .button.primary {
      background-color: #3369f3;
  }
  .field {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
  }
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #3369f3;
    outline: 0;
    font-size: 1.3rem;
    color: #1e1e1e;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
  }
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: .8rem;
    color: #999;
  }
  .form__error {
      color: #ff2f2f;
      font-size: .8rem;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: .8rem;
    color: #1e1e1e;
  }
  
  .field_gray .form__field{
    background-color: #efefef;
    color: #999;
    border: none;
    border-radius: 5px;
    padding-left: 1rem;
  }
  .field_gray .form__field::placeholder {
    color: #999;
  }
  .field_center .form__field:placeholder-shown::placeholder {
    text-align: center;
  }
  .field .fas {
    position: absolute;
    top: 50%;
    left: 10px;
    transition: 0.2s;
  }
  .field_gray .fas {
    color: #999;
  }
  .field_center .form__field:placeholder-shown ~ .fas {
    left: 40%;
  }
  .field > .form__field {
    padding-left: 2rem;
  }
  .field_center .form__field:focus::placeholder {
    text-align: left;
  }
  .field_center .form__field:focus ~ .fas {
    left: 10px;
  }
  
  .popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    min-width: 220px;
    background-color: #fff;
    border-radius: 20px;
    z-index: 3;
  }
  .popup .popup__item {
    display: flex;
    align-items: center;
    margin: 4px 0;
    padding: 0 12px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  .popup .popup__item:hover {
    background-color: #e4e4e4;
  }
  .popup .popup__item .icon {
    width: 40px;
    font-size: 30px;
    color: #3369f3;
  }
  .popup .popup__item .text {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 600;
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    z-index: 999;
  }
  .modal .modal-content {
    max-width: 80%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.7);
    border-radius: 15px;
    z-index: 9999;
  }
  
  .page {
      width: 100%;
      height: 100vh;
  }
  
  .shadow {box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.7);}
  
  .link {
      color: #3369f3;
      cursor: pointer;
  }

  @keyframes showNotification {
    from { transform: translateY(-45px); }
    to { transform: translateY(0px); }
   }
  .app-notification {
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin: 0 auto;
    width: auto;
    max-width: 15%;
    color: #fff;
    text-align: center;
    padding: 8px 12px;
    border-radius: 5px;
    transform: translateY(-45px);
    animation: showNotification 1s forwards
  }
  .app-notification.app-notification_error {
    background-color: #ff5252;
  }
  .app-notification.app-notification_success {
    background-color: #4caf50;
  }
