  input[type=file] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  
  .popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    min-width: 220px;
    background-color: #fff;
    border-radius: 20px;
    z-index: 3;
  }
  .popup .popup__item {
    display: flex;
    align-items: center;
    margin: 4px 0;
    padding: 0 12px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  .popup .popup__item:hover {
    background-color: #e4e4e4;
  }
  .popup .popup__item .icon {
    width: 40px;
    font-size: 30px;
    color: #4c2e00;
  }
  .popup .popup__item .text {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 600;
  }

  
  .page {
	background-image: url('/images/forest-background.jpeg');
	background-size: contain;
	width: 100%;
	height: 100vh;
	padding-top: 100px;
	padding-bottom: 50px;
  }
  
  .shadow {box-shadow: 1px 1px 6px 0px rgba(76,46,0,0.7);}
  
  .link {
      color: #4c2e00;
      cursor: pointer;
  }

  .green {
    background-color: #58882f;
  }

  .card_big {
	background-image: url('../images/scroll.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
  min-width: 700px;
  min-height: 500px;
  }

  .card {
	background-image: url('../images/scroll.png');
	background-repeat: no-repeat;
	background-size: contain;
  background-position: center;
  border-radius: 10px;
}

