.character {
    min-width: 300px;
}

.character_icon {
    width: 100%;
    min-height: 150px;
}

.character_name {
    font-size: 18px;
    margin-bottom: 16px
}

.character_stats_item {
    width: 50px;
}


.character_name {
    font-size: 20px;
    margin-bottom: 15px;
}