  h1 {
    font-size: 25px;
    color: #272625;
  }
  
  input[type=file] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  
  .popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    min-width: 220px;
    background-color: #fff;
    border-radius: 20px;
    z-index: 3;
  }
  .popup .popup__item {
    display: flex;
    align-items: center;
    margin: 4px 0;
    padding: 0 12px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  .popup .popup__item:hover {
    background-color: #e4e4e4;
  }
  .popup .popup__item .icon {
    width: 40px;
    font-size: 30px;
    color: #4c2e00;
  }
  .popup .popup__item .text {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 600;
  }

  
  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .light {
    background-image: url('/images/forest-background.jpeg');
    background-size: contain;
  }

  .dark {
    background-image: url('/images/forest-background-dark.jpeg');
    background-size: contain;
  }

  .page_dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  
  .shadow {box-shadow: 1px 1px 6px 0px rgba(76,46,0,0.7);}
  
  .link {
      color: #272625;
      cursor: pointer;
  }

  .green {
    background-color: #58882f;
  }

  .card_big {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/scroll.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 700px;
    min-height: 500px;
  }

  .card_big_inner {
    height: 60%;
    width: 60%;
  }

  .card {
	background-image: url('../images/papirus.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
  background-position: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.card_wooden {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: -20px;
  width: 900px;
  height: 800px;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 300px;
  background-color: none;
  background-image: url('../images/wooden-background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hide {
  display: none;
}

