@keyframes spin {
    0% { transform:rotate(0deg); }
    50% { transform:rotate(180deg) }
    100% { transform:rotate(360deg) }
}
.preloader-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(6, 6, 6, 0.7);
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.preloader-container img {
    animation: spin 2s infinite;
}